# App
NODE_ENV="local"
SERVER_PORT="8080"
API_KEY="a1aa3908fab694fb3db28835664193d9"
#Database
MONGO_HOST="localhost"
MONGO_PORT="27017"
MONGO_USERNAME=""
MONGO_PASSWORD=""
MONGO_DATABASE="movie_service"
MONGO_DATABASE_AUTH="admin"
MONGO_DNS_SERVE="mongodb://"
# Services
MOVIE_BASE_URL="https://api.themoviedb.org"
MOVIE_API_KEY="fa05d8752e51d0240ca34c53bc8e2194"
MOVIE_ACCESS_TOKEN_V3="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmYTA1ZDg3NTJlNTFkMDI0MGNhMzRjNTNiYzhlMjE5NCIsIm5iZiI6MTc2MTQ4Mzk4NC41NTQsInN1YiI6IjY4ZmUxY2QwZTk0ZDNjYTUwOWZiNmUyZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-fztVO1jeHAW2l3m1OsIwAnLtJHKKbABWEUfp5Ed7EQ"
MOVIE_SESSION_ID="8b4ebc30e303562c47a9e2a4d10c3976"
MOVIE_ACCOUNT_ID="22414830"
# Redis
REDIS_HOST="localhost"
REDIS_PORT="6380"
REDIS_USERNAME=""
REDIS_PASSWORD=""
# Jest
COVERAGE="false"
COVERAGE_THRESHOLD_FUNCTIONS="10"
COVERAGE_THRESHOLD_LINES="10"
COVERAGE_THRESHOLD_STATEMENTS="10"
COVERAGE_THRESHOLD_BRANCHES="10"
