# App
NODE_ENV="local"
SERVER_PORT="5000"

# Database
MONGO_HOST=
MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_DATABASE_AUTH=
MONGO_DNS_SERVE=

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6380"
REDIS_USERNAME=""
REDIS_PASSWORD=""

# Services
MOVIE_BASE_URL=""
MOVIE_API_KEY=""
