# App
NODE_ENV="local"
SERVER_PORT="8080"
API_KEY="a1aa3908fab694fb3db28835664193d9"

# Database
MONGO_HOST=
MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_DATABASE_AUTH=
MONGO_DNS_SERVE=

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6380"
REDIS_USERNAME=""
REDIS_PASSWORD=""

# Services
MOVIE_BASE_URL=""
MOVIE_API_KEY=""
MOVIE_ACCESS_TOKEN_V3=""
MOVIE_SESSION_ID=""

# Jest
COVERAGE="false"
COVERAGE_THRESHOLD_FUNCTIONS="10"
COVERAGE_THRESHOLD_LINES="10"
COVERAGE_THRESHOLD_STATEMENTS="10"
COVERAGE_THRESHOLD_BRANCHES="10"